body {padding:0px; background-color:#000; color:#fff; font-size:10pt;}
a {color:#fff;}

#greeting {margin-top:48px; width:100%; text-align:center;}
#greeting .title {font-size:12pt; font-weight:600; margin-bottom:4px;}

#listFrame {margin-top:48px;}
#listFrame .column {width:calc((100% - 96px)/3); margin-left:24px; float:left;}
#listFrame .column .item {position:relative;}
#listFrame .column img {box-sizing:border-box; width:100%; margin-bottom:12px; filter: grayscale(100%);}
#listFrame .column img:hover {filter: grayscale(0%); cursor:help;}

#blurFrame {position:fixed; top:0px; left:0px; width:100%; height:100%; opacity:0.5; background-color:#fff; display:none; cursor:zoom-out;}
#blurFrame.on {display:block; z-index:1;}
#blurFrame.on:hover {opacity:0.55;}

#popFrame {position:fixed; border:1px solid #999; border-radius:3px; background-color:#000; display:none; text-align:center;}
#popFrame.on {display:block; z-index:2}
#popFrame .image{width:100%; height:100%; cursor:zoom-in;}
#popFrame .image img{width:100%; height:100%;}
#popFrame .date {position:absolute; right:12px; bottom:12px; padding:0 6 2px; border-radius:3px; box-shadow:0 0 2px #000; background-color: rgba(0,0,0,0.6);}
#popFrame .desc {position:absolute; left:15%; right:15%; text-align:center; bottom:48px; padding:0 6 2px; border-radius:3px; box-shadow:0 0 2px #000; background-color: rgba(0,0,0,0.6);}