body {padding:0px; background-color:#000; color:#fff; font-size:10pt;}
a {color:#fff;}

#greeting {margin-top:48px; width:100%; text-align:center;}
#greeting .title {font-size:12pt; font-weight:600; margin-bottom:4px;}

#listFrame {margin-top:48px;}
#listFrame .column {width:calc((100% - 96px)/3); margin-left:24px; float:left;}
#listFrame .column .item {position:relative;}
#listFrame .column img {box-sizing:border-box; width:100%; margin-bottom:12px; filter: grayscale(100%);}
#listFrame .column img:hover {filter: grayscale(0%); cursor:pointer;}

